---
page: index
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="css/cover.css">
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              {% include header.html %}
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading"><!--BAM!--></h1>
            <p class="lead">BAM is a large-scale user addition to Blockland, including features such as a reviewed add-on gallery, in-game cross-server chat and more.</p>
            <p class="lead">
              <a href="about.html" class="btn btn-lg btn-default">Learn more</a>
              <a href="#" class="btn btn-lg btn-default" disabled="disabled">Download</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Design by <a href="https://twitter.com/mdo">@mdo</a>. Background by <!--Theportalmaster--><a href="https://mrlolphotography.tumblr.com">Mr.LoL.</a><br/>
              <small>That logo is terrible, Jack Noir. Stop saying it isn't.</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include js.html %}
  </body>
</html>
